html, body {
  font-family: 'Lato', serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #303030;
  overflow-x: hidden;
}

p {
	font-size: 24px;
	padding: 0 5px;
	color: hsla(0, 0%, 63%, 1);
    font-size: 13.333333px;
	text-shadow: 2px 2px 4px #000000cf;
}
b {
	color: #bbb;
}

#logo {
  max-width: 135px;
}
 
a {
	text-decoration: none;
	color: hsla(0, 0%, 63%, 1);
   text-shadow: 2px 2px 4px #000000cf;
   transition: all 0.35s ease;	
}
	
a:hover {
  color: white;
  text-decoration: none;
}

a:focus {
	color: hsla(0, 0%, 63%, 1);
}
 
.footer {
	font-size: smaller;
}

main {
	color: white;
    text-align: center;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    max-width: 35em
}

.circle-hover {
  width: 80%;
  box-shadow: 0 0 11px 0 black;
  transition: all 0.35s ease;
}

img.circle-hover:hover {
  border-radius: 0 !important;
}