<div id="about" class="container">
    <div class="padding-1 ">
        <img src="/mouthlessgames/img/4.jpg" class="border-radius" title="Yes, that's coffee in that mug.">
    </div>

    <ul class="expanded">
        <li><span>Video game developer from a tiny town in Austria.</span></li>
        <li>Dedicated to tell immersing stories in video games.</li>
        <li>Started to make games on a rainy day with the help of a mug plus coffee machine.</li>
    </ul>

    <p class="inset margin-1 border-radius font-small">
        <span>We are currently putting all our heartblood into a medieval turn-based strategy game.</span>
        <br>
        <a href="https://twitter.com/MouthlessGames">Follow us on Twitter</a> and read our <a href="/mouthlessgames/blog">Blog</a> for details.
    </p>

    <p></p>
</div>
