<div id="about" class="container">
    <div class="padding-1 ">
        <img src="/mouthlessgames/img/4.jpg" class="border-radius" title="Yes, that's coffee in that mug.">
    </div>

    <ul class="expanded">
        <li><span>Video game developmer from <i>Austria</i>.</span></li>

        <li>Started to make games on a <b>rainy day </b> in 2019.</li>

        <li>With the help of a mug plus coffee machine.</li>

        <li>Contact us under <a href="mailto:info@mouthlessgames.com">info@mouthlessgames.com</a> or on <a href="https://twitter.com/MouthlessGames">Twitter</a>.</li>
    </ul>

    <p class="italic outset margin-1 border-radius">
        We are currently working on our most ambitious game so far, namely a <b>turn-based strategy game</b>.
        Placed in a medieval world, the game will feature 3d visuals and a gameplay evolving around unit management, maximization and optimization.<br>
        <a href="#" onclick="$('#follow-button').click()">Follow us on Twitter</a> or on our <a href="{baseUrl}blog">Blog</a> for further details.
    </p>

    <p></p>
</div>
