<div id="about" class="container">
    <div class="padding-1 ">
        <img src="/mouthlessgames/img/4.jpg" class="border-radius" title="Yes, that's coffee in that mug.">
    </div>

    <ul class="expanded">
        <li><span>Video game developmer from Vienna, <i>Austria</i>.</span></li>

        <li>Started on a <b>rainy day </b> in 2019 with the help of a mug plus <b>coffee</b> machine.</li>

        <li><b><a href="{baseUrl}games">Play our games for free!</a></b></li>

        <li><a href="https://twitter.com/MouthlessGames">Follow us on Twitter</a></li>

        <li>Write us under <a href="mailto:info@mouthlessgames.com">info@mouthlessgames.com</a></li>
    </ul>


    <p class="italic outset margin-1 border-radius">
        We are currently working on our most ambitious game so far, namely a turn-based strategy game.
        Placed in a medieval world the game will feature 3d visuals and a gameplay evolving around unit management, maximization and optimization.
        <br><b><a href="https://twitter.com/MouthlessGames">Follow us on Twitter</a></b> for further details.
    </p>


    <h3>Like our work?</h3>
    <p>Support us and
        <a class="vertical-align-middle" href='https://ko-fi.com/E1E713L8B' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>.
        As a <b>reward</b> you'll receive a small gift!
    </p>

    <p></p>
</div>