<hr class="dashed">

<article>
	<h3>Comments</h3>
	
	<div id="comments"></div>
	
	<p></p>
	
	<form class="add-comment">
		<label for="input_name">
			<span class="title">Name</span>
			<input id="input_name" type="text" class="form-input inset" placeholder="Name (Optional)" value="">
		</label>
		
		<p></p>
		
		<label for="input_comment">
			<span class="title">Comment</span>
			<textarea id="input_comment" class="form-input inset" rows="5" placeholder="Comment"></textarea>
		</label>
		
		<p></p>
		
		<input id="add_comment_button" type="submit" value="Add Comment">
	
	</form>
	
	<p></p>
</article>
