	</div>
</main>
<hr class="gradient">
<footer>
	<p>&copy; 2019 - <a href="mailto:info@mouthlessgames.com">info@mouthlessgames.com</a></p>

</footer>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-title" class="modal-title">Error</h4>
			</div>
			<div class="modal-body">
				<p id="modal-message">Something went wrong.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	
	</div>
</div>


<script src="{baseUrl}js/jquery-2.1.4.min.js"></script>
<script src="{baseUrl}js/bootstrap.min.js"></script>
<script src="{baseUrl}js/main.js"></script>

</body>
</html>
