	</div>
</main>

<footer>
    <p>© Copyright 2018 – 2019  <br>Website Theme by <a href="{baseUrl}">mouthlessgames.com</a></p>
</footer>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-title" class="modal-title">Error</h4>
			</div>
			<div class="modal-body">
				<p id="modal-message">Something went wrong.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	
	</div>
</div>

<!-- Reading Bar -->
<div id="readingbar">
    <div id="readingbar-progress"></div>
</div>

<script src="{baseUrl}js/jquery-1.12.4.min.js"></script>
<script src="{baseUrl}js/bootstrap.min.js"></script>
<script src="{baseUrl}js/main.js"></script>

<!-- Fancybox -->
<script type="text/javascript" src="{baseUrl}fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{baseUrl}fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="{baseUrl}fancybox/helpers/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="{baseUrl}js/mdc.ripple.min.js"></script>

</body>
</html>
