	</div>
</main>

<footer>

	<p>
		<span>Theme by © 2019 <a href="mailto:info@mouthlessgames.com">MouthlessGames</a></span>
		<br>
		<a href="{baseUrl}legal">Legal Notice & Privacy</a>
	</p>

	<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 63px; height: 20px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.d6364fae9340b0be5f13818370141fd0.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=MouthlessGames&amp;show_count=false&amp;show_screen_name=false&amp;size=m&amp;time=1568751879251" data-screen-name="MouthlessGames"></iframe><script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</footer>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-title" class="modal-title">Error</h4>
			</div>
			<div class="modal-body">
				<p id="modal-message">Something went wrong.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	
	</div>
</div>

<!-- Reading Bar -->
<div id="readingbar">
    <div id="readingbar-progress"></div>
</div>

<script src="{baseUrl}js/jquery-1.12.4.min.js"></script>
<script src="{baseUrl}js/bootstrap.min.js"></script>
<script src="{baseUrl}js/main.js"></script>

<!-- Fancybox -->
<script type="text/javascript" src="{baseUrl}fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{baseUrl}fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="{baseUrl}fancybox/helpers/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="{baseUrl}js/mdc.ripple.min.js"></script>

</body>
</html>
