<div class="card">
    <div class="profile_picture float-left"><img src="{baseUrl}img/avatar.png"></div>
    <div>
        <h2>Jewel Thief</h2>

        <p>At first sight, IT is about software. But what it's really about is people.</p>

        <ul class="contact_information">
            <li><span class="fa icon-briefcase"></span><strong>Profession</strong> <br><span class="text">Software Developer</span></li>
            <li><span class="fa icon-location"></span><strong>Location</strong> <br><span class="text">Vienna, Austria</span></li>
            <li><span class="fa icon-earth"></span><strong>Website</strong> <br><span class="text"><a href="http://goo.gl/KvKHze">http://therefactory.bplaced.net</a></span></li>
            <li><span class="fa icon-envelope"></span><strong>Mail</strong> <br><span class="text"><a href="mailto:christian.detamble@outlook.com">christian.detamble@outlook.com</a></span></li>
            <li><span class="fa icon-heart"></span><strong>Passions</strong> <br><span class="text">Rowing, User Interfaces, Traveling, Culinary Arts</span></li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="profile_picture float-left"><img src="{baseUrl}img/avatar.png"></div>
    <div>
        <h2>Jewel Thief</h2>

        <p>At first sight, IT is about software. But what it's really about is people.</p>

        <ul class="contact_information">
            <li><span class="fa icon-briefcase"></span><strong>Profession</strong> <br><span class="text">Software Developer</span></li>
            <li><span class="fa icon-location"></span><strong>Location</strong> <br><span class="text">Vienna, Austria</span></li>
            <li><span class="fa icon-earth"></span><strong>Website</strong> <br><span class="text"><a href="http://goo.gl/KvKHze">http://therefactory.bplaced.net</a></span></li>
            <li><span class="fa icon-envelope"></span><strong>Mail</strong> <br><span class="text"><a href="mailto:christian.detamble@outlook.com">christian.detamble@outlook.com</a></span></li>
            <li><span class="fa icon-heart"></span><strong>Passions</strong> <br><span class="text">Rowing, User Interfaces, Traveling, Culinary Arts</span></li>
        </ul>
    </div>
</div>
