<div class="game-card">
    <div class="image-overlay">
        <img class="main-image" src="{baseUrl}img/beyond/1.gif">
        <img class="name" src="{name-image}">

        <!-- Awards -->
        <div class="ranking">
            <img src="{baseUrl}img/accolade.png" class="left-accolade">

            <div class="text">
                <div>{ranking-main}</div>
                <div class="subtitle">{ranking-sub}</div>
            </div>
            <img src="{baseUrl}img/accolade.png" class="right-accolade">
        </div>

        <!-- Preview Images -->
        <div class="image-slider">
            <div class="image-link" data-image-url="{baseUrl}img/beyond/1.gif" style="background-image: url('{baseUrl}img/beyond/1.gif')"></div>
        </div>
    </div>

    <div class="text-section">
        <h2 class="game-name" style="padding-top: 0.5rem;display: inline-block;">{name}</h2>
        <img src="{baseUrl}img/stars/{stars}stars.png">

        <p class="game-description">{description}</p>

        <ul class="contact_information outset">
            <li><span class="fa icon-dice"></span><strong>Genre</strong> <br><span class="text">{genre}</span></li>
            <li><span class="fa icon-stopwatch"></span><strong>Playtime</strong> <br><span class="text">{playtime}</span></li>
            <li><span class="fa icon-android"></span><strong>Platform</strong> <br><span class="text">{platforms}</span></li>
        </ul>

        <div class="right-section">
            <a href="{google-play-url}" class="btn-two green mini download-button">Get it on <b>Google Play</b></a>
        </div>

        <p></p>
    </div>

</div>