<div class="game-card">
    <div class="image-overlay">
        <img class="main-image" src="{baseUrl}img/beyond/1.gif">
        <img class="name" src="{baseUrl}img/beyond/name.png">

        <div class="ranking">
            <img src="{baseUrl}img/accolade.png" class="left-accolade">

            <div class="text">
                <div>14<sup>th</sup> Audio</div>
                <div class="subtitle">Ludum Dare 42</div>
            </div>
            <img src="{baseUrl}img/accolade.png" class="right-accolade"></div>

        <div class="image-slider">
            <div class="image-link" data-image-url="{baseUrl}img/beyond/1.gif" style="background-image: url('{baseUrl}img/beyond/1.gif')"></div>
            <div class="image-link" data-image-url="{baseUrl}img/beyond/2.png" style="background-image: url('{baseUrl}img/beyond/2.png')"></div>
        </div>
    </div>

    <div class="text-section">
        <h2 class="game-name" style="padding-top: 0.5rem;display: inline-block;">Beyond The Horizon</h2>
        <img src="{baseUrl}img/4stars.png">

        <p class="game-description">Disembodied explores one of human kind's deepest and darkest places. Disembodied has been crafted in only 3 days for the Ludum Dare 42 game development competition (August 2018) based on the theme "Running out of Space".</p>

        <ul class="contact_information outset">
            <li><span class="fa icon-briefcase"></span><strong>Genre</strong> <br><span class="text">Horror</span></li>
            <li><span class="fa icon-location"></span><strong>Playtime</strong> <br><span class="text">15 min</span></li>
            <li><span class="fa icon-android"></span><strong>Platform</strong> <br><span class="text">Android</span></li>
        </ul>

        <div class="right-section">
            <a href="https://play.google.com/store/apps/details?id=at.therefactory.jewelthief&hl=en" class="btn-two green mini download-button">Get it on <b>Google Play</b></a>
        </div>

        <p></p>
    </div>

</div>