<div class="game-card">
    <div class="image-overlay">
        <img class="main-image" src="{baseUrl}img/beyond/title.png">
        <img class="ranking" src="{baseUrl}img/beyond/ranking.png">
        <div class="image-slider">
            <div class="image-link"></div>
            <div class="image-link"></div>
            <div class="image-link"></div>
        </div>
    </div>

    <div>
        <h2 style="padding-top: 0.5rem;display: inline-block;">Beyond The Horizon</h2>
        <img src="{baseUrl}img/4stars.png">

        <p class="game-description">Disembodied explores one of human kind's deepest and darkest places. Disembodied has been crafted in only 3 days for the Ludum Dare 42 game development competition (August 2018) based on the theme "Running out of Space".</p>

        <ul class="contact_information inset" style="padding: 0 0.5rem;margin: 0 1rem;border-radius: 8px;max-width: 50%;">
            <li><span class="fa icon-briefcase"></span><strong>Genre</strong> <br><span class="text">Horror, Visual Novel</span></li>
            <li><span class="fa icon-location"></span><strong>Playtime</strong> <br><span class="text">15 min</span></li>
            <li><span class="fa icon-heart"></span><strong>Price</strong> <br><span class="text">0$</span></li>
        </ul>

        <div class="right-section">
            <a href="#" class="btn-two green mini">Play Game</a>
        </div>

        <p></p>
    </div>

</div>