<div class="game-card">
    <div class="image-overlay">

        <div class="main-image vignette" style="background-image: url('{main-image}')"></div>
        <!--<img class="name" src="{name-image}">-->

        <!-- Awards -->
        <a href="{ldjam-url}">
            <div class="ranking">
                <img src="{baseUrl}img/accolade.png" class="left-accolade">

                <div class="text">
                    <div>{ranking-main}</div>
                    <div class="subtitle">{ranking-sub}</div>
                </div>
                <img src="{baseUrl}img/accolade.png" class="right-accolade">
            </div>
        </a>

        <!-- Preview Images -->
        <div class="image-slider">
            {video}
            {previews}
        </div>
    </div>

    <div class="text-section">
        <h2 class="game-name" style="padding-top: 0.5rem;display: inline-block;">{name}</h2>
        {num-stars}

        <p class="game-description">{description}</p>

        <div class="right-section">
            <ul class="contact_information outset">
                <li><span class="fa icon-dice"></span><strong>Genre</strong> <span class="text">{genre}</span></li>
                <li><span class="fa icon-stopwatch"></span><strong>Playtime</strong> <span class="text">{playtime}</span></li>
            </ul>
        </div>

        <p class="play-button">
            <a href="{google-play-url}">
                <img src="{baseUrl}img/play.png">
            </a>
        </p>

        <p></p>
    </div>

</div>