<!DOCTYPE html>
<html lang="en">
<head>
	{analytics}
	<meta charset="utf-8">
	<title>{title}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="follow" />
	<meta name="revisit-after" content="2 days" />
	<meta name="language" content="en" />
	<meta name="author" content="Christian DeTamble" />
	<meta name="publisher" content="MouthlessGames" />
	<meta name="copyright" content="MouthlessGames" />
	<meta name="keywords" content="game, gamedev, game developer, indie game developer, austria, game development, devblog, tutorials, android, app, android studio, ludum dare, 3d game engine, libgdx, java" />
	<meta name="description" content="MouthlessGames is an independent game developer from Austria." />

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{baseUrl}css/modal.css">
	<link rel="stylesheet" type="text/css" href="{baseUrl}css/buttons.css">
	<link rel="stylesheet" type="text/css" href="{baseUrl}css/icomoon.css">
	<link rel="stylesheet" type="text/css" href="{baseUrl}css/style.css">
	<link rel="stylesheet" type="text/css" href="{baseUrl}css/ripple.css">

	<!-- Favicon -->
	<link rel="icon" type="image/ico" href="{baseUrl}favicon.ico">

	<!-- Fancybox -->
	<link rel="stylesheet" href="{baseUrl}fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{baseUrl}fancybox/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen"/>

	<script>
		var Globals = {};
		Globals.baseUrl = "{baseUrl}";
		Globals.databaseUrl = "http://localhost/therefactory/api/mouthlessgames/";
		Globals.blogPostId = "{blogPostId}";
		{customJs}
	</script>
</head>
<body>

<nav>
	<div class="container">
		<ul id="logo_container">
			<li class="mdc-ripple-surface">
				<a class="ripplelink" href="{baseUrl}">
					<img id="logo" src="{baseUrl}img/title7.jpg">
				</a>
			</li>
		</ul>
		<div class="right-align">
			<ul id="hmenu">
				<li class="mdc-ripple-surface"><a class="ripplelink" href="{baseUrl}games">Games</a></li>
				<li class="mdc-ripple-surface"><a class="ripplelink" href="{baseUrl}blog">Blog</a></li>
				<li class="mdc-ripple-surface"><a class="ripplelink" href="{baseUrl}about">About</a></li>
			</ul>
			<ul id="hamburger">
				<li id="toggle_vmenu" class="mdc-ripple-surface"><a class="ripplelink" href="#"><span class="fa icon-bars"></span></a></li>
			</ul>
		</div>

		<ul id="vmenu">
			<li class="mdc-ripple-surface"><a class="ripplelink" href="{baseUrl}games">Games</a></li>
			<li class="mdc-ripple-surface"><a class="ripplelink" href="{baseUrl}blog">Blog</a></li>
			<li class="mdc-ripple-surface"><a class="ripplelink" href="{baseUrl}about">About</a></li>
		</ul>
	</div>
</nav>

<main>
	<div class="container {with-bg}">
