<div class="card">
    <div class="profile_picture float-left"><img src="{baseUrl}img/disembodied/3.png"></div>
    <div>
        <h2>Disembodied</h2>

        <p>Disembodied explores one of human kind's deepest and darkest places. Disembodied has been crafted in only 3 days for the Ludum Dare 42 game development competition (August 2018) based on the theme "Running out of Space".</p>

        <ul class="contact_information">
            <li><span class="fa icon-briefcase"></span><strong>Genre</strong> <br><span class="text">Horror, Visual Novel</span></li>

            <li><span class="fa icon-location"></span><strong>Playtime</strong> <br><span class="text">15 min</span></li>

            <li><span class="fa icon-heart"></span><strong>Price</strong> <br><span class="text">0$</span></li>
        </ul>


    </div>
    <img src="{baseUrl}img/google-play-badge.png">
</div>

<div class="clear"></div>