<div class="image padding-1">
    <img src="{baseUrl}img/2.jpg">

    <div>
        <p>
            <span class="hoverable">It starts with a vision.</span><br>
            <span class="hoverable">The final destination is not yet in sight.</span><br>
            <span class="hoverable">Instead, even multiple paths lie ahead.</span><br>
        </p>
    </div>
</div>

<p class="text-center">
    It ends with a soul-touching result.
</p>

<p class="text-center">
    Reaching this goal and the story behind is what <b>MouthlessGames</b> is about.
</p>

<p>
    <img class="center" src="{baseUrl}img/m2.png" alt="MouthlessGames Logo">
</p>