<div id="home_image" class="image padding-1">
    <img src="{baseUrl}img/2.jpg">

    <div>
        <p>
            <span class="hoverable">It starts with a vision.</span><br>
            <span class="hoverable">The end is not visible yet.</span><br>
            <span class="hoverable">Multiple paths lie ahead.</span><br>
        </p>
    </div>
</div>

<p class="text-center">
    <span class="hoverable">It ends with a soul-touching result.</span><br>
    <span class="hoverable">Reaching this goal is what <b>MouthlessGames</b> is about.</span><br>
</p>

<p>
</p>