<h2>Legal Disclosure</h2>

<p>MouthlessGames</p>

<p>Vienna</p>

<p>Austria</p>

<p>E-Mail: <a href="mailto:info@mouthlessgames.com">info@mouthlessgames.com</a></p>


<h2>Represented By</h2>
<p>
    Christian DeTamble<br>
    E-Mail: <a href="mailto:info@mouthlessgames.com">christian.detamble@mouthlessgames.com</a>
</p>

<h3>Accountability</h3>
<p>
    With the exception of links to external website and comments posted by visitors, MouthlessGames is responsible for all content posted on this website including text, image and video material.
</p>

<h3>Privacy Policy</h3>
<p>
    This website uses Google Analytics to help us analyze how it is being used by our visitors.
    Therefore, your browser will store anonymous usage data (including your IP address) in the form of cookies.
    The so collected usage data is visible to Google and MouthlessGames.
    If you don't want your data to be collected, you can enable the "Block tracking" option in your browser, or install a dedicated plugin to do so.
    Your privacy is of huge importance to us.
    MouthlessGames does not share, sell or distribute any information about our users including the described usage data to companies or individuals.
</p>

<p></p>