{name Disembodied}
{stars 0}
{type Visual Novel}
{genre Horror}
{playtime 15 min}
{platforms Android}

{google-play-url https://play.google.com/store/apps/details?id=com.mouthlessgames.disembodied}
{video-url https://www.youtube.com/watch?v=_UxC6yxqbEA}
{ldjam-url https://ldjam.com/events/ludum-dare/42/disembodied}

{ranking-main 8<sup>th</sup> Mood}
{ranking-sub Ludum Dare 42}

{description Disembodied explores one of human kind’s <b>deepest</b> and <b>darkest</b> places. <br><br>Inspired by Harlan Ellison’s <b>I Have No Mouth, and I Must Scream</b>.}

{quotes Beautiful ending with very nice music.;Really enjoyed the experience.;I enjoyed the experience a lot.;What is this game abaal t?;Well things took an unexpected turn rather quickly!}