{name Disembodied}
{stars 0}
{genre Horror}
{playtime 15 min}
{platforms Android}

{google-play-url https://play.google.com/store/apps/details?id=com.mouthlessgames.disembodied}
{video-url https://www.youtube.com/watch?v=_UxC6yxqbEA}
{ldjam-url https://ldjam.com/events/ludum-dare/42/disembodied}

{ranking-main 8<sup>th</sup> Mood}
{ranking-sub Ludum Dare 42}

{description Disembodied explores one of human kind’s deepest and darkest places. <b>Help the victims or not?</b><br><br>The game’s story is inspired by Harlan Ellison’s <i>I Have No Mouth, and I Must Scream</i>.}