{name Beyond}
{stars 5}
{type Visual Novel}
{genre Horror}
{playtime 15 min}
{platforms Android}

{google-play-url https://play.google.com/store/apps/details?id=com.mygdx.starter}
{video-url https://www.youtube.com/watch?v=NvVUsGwRw3c}
{ldjam-url https://ldjam.com/events/ludum-dare/43/beyond}

{ranking-main 14<sup>th</sup> Audio}
{ranking-sub Ludum Dare 43}

{description Help Detective Pendguest to catch a horrible killer called "The Surgeon" in this <b>short and disturbing</b> visual novel.<br><br>Best with your <b>headphones</b> on.}

{quotes I think I need a cig’ after this;Well… that was horrifying.;Wow. That was an experience, way to go.;I need a cigarette after this game, chilling!!;One word: 2spooky4me}