{stars 5}
{genre Horror}
{playtime 15 min}
{platforms Android}

{google-play-url https://play.google.com/store/apps/details?id=com.mygdx.starter}
{video-url https://www.youtube.com/watch?v=NvVUsGwRw3c}
{ldjam-url https://ldjam.com/events/ludum-dare/43/beyond}

{ranking-main 14<sup>th</sup> Audio}
{ranking-sub Ludum Dare 43}

{description Help Detective Pendguest to catch a horrible killer called "The Surgeon" in this <b>short and disturbing</b> visual novel - best with your headphones on.<br><br>We made this visual nodel in 3 days for Ludum Dare 43.}