{name Beyond The Horizon}
{stars 4}
{genre Horror}
{playtime 15 min}
{platforms Android}
{google-play-url https://play.google.com/store/apps/details?id=at.therefactory.jewelthief&hl=en}

{description Disembodied explores one of human kind's deepest and darkest places. Disembodied has been crafted in only 3 days for the Ludum Dare 42 game development competition (August 2018) based on the theme "Running out of Space".}

{name-image {baseUrl}img/beyond/name.png}

{preview-image {baseUrl}img/beyond/1.gif}
{preview-image {baseUrl}img/beyond/2.gif}
{preview-image {baseUrl}img/beyond/3.gif}