{id 1}
{title We are working on a 3D Game!}
{date September 10, 2019}
{topic Evelyn von Wolkenstein}
{image daycycle.gif}
{description We started to work on our biggest and most ambitious project so far.}

<p>
	We are super excited to share the announcement that we started to work on our biggest and most ambitious project so far.
	Up until now, our game development excourses happened soley in 2D land -
	mainly games created over a single weekend for the <b>Ludum Dare</b> game development competition.
	Looking at our ratings so far it is clear that the <b>visual quality</b> of our games were not outstanding.
	We are ready to change that with our current project.
	Although we have kind of a vision for the identity of the game, there is still a lot we have to decide on.
</p>

<p>
	Back in the days we could not imagine something more boring than a turn-based strategy game.
	Somehow, this has changed within the last year and we went from getting appetite (with Battle for Wesnoth) on optimizing all the actions on our battlefield to being full-on obsessed with <b>Advance Wars</b>.
</p>

<p>
	And after the third our fourth play-through a notion manifested itself slowly.
</p>
<blockquote>Weren't turn-based games supposed to be rock-hard, non-approachable by beginners and just no fun at all?</blockquote>
<p>
	And there vanished all those prejudices.
	Advance Wars tries really hard to be approachable by newcomers and, to be honest, tries <b>too</b> hard with its lengthy tutorial missions.
	After the first 2 or 3 missions you understand that you control units, and so does the enemy, in a turn-based fashion - with the implication that extrapolation and prediction of the enemy's behavior is key to success.
	Next thing to be learned is to understand which unit is good and bad against which one.
	For the game designer, that is a tricky one.
	It is a balance act between burden the player with learning complicated data sets and to relying on your very own gut feeling and common sense.
	<b>Battle Brothers</b>, for instance, does an extremely good job in that regard.
	There, understanding of how good weapons and armor are is - by a great part - done soley by their visual representation in the game.
	That reduces mental load to newcomers thus making the game more approachable.
</p>

<h4>The Vision</h4>
<ul>
	<li>Easy-to-consume Turn-based Strategy (TBS) game</li>
	<li>Targeted at Newcomers to the TBS genre</li>
	<li>Beginner-friendly</li>
	<li>Immersive story with unique characters, rich of unexpected turn-arounds</li>
</ul>

<br>


<h4>Planned Features</h4>
<ul>
	<li>Turn-based combat scenarios</li>
	<li>World map between scenarios</li>
	<li>Grim Medieval setting</li>
	<li>Non-Fantasy World (<i>i.e.</i> there is no magic)</li>
	<li>Story to be experienced in 4-5 single-player campagins, one for each of the 4-5 unique <b>Factions</b></li>
</ul>

<h4>Combat Scenarios</h4>
<ul>
	<li>Modern 3D graphics</li>
	<li>Rock paper scissors based</li>
	<li>Offensive and defensive scenarios (castle siege, survival, exploration)</li>
	<li>Trainable heroes with levels and special powers</li>
	<li>Base building and resource gathering</li>
</ul>

<p>
	Here are already some screenshots:
</p>

<p>
	<a href="{baseUrl}img/daycycle.gif" class="fancybox" rel="gallery" title="Test">
		<img src="{baseUrl}img/test2.gif">
	</a>
	<a href="{baseUrl}img/wer.gif" class="fancybox" rel="gallery">
		<img src="{baseUrl}img/test.gif">
	</a>
	<a href="{baseUrl}img/noelem233.gif" class="fancybox" rel="gallery">
		<img src="{baseUrl}img/test3.gif">
	</a>
</p>

<h4>World Map</h4>
<ul>
	<li>Whole game world at a glance</li>
	<li>Choose next scenario</li>
</ul>

<h4>Cutscenes</h4>
<ul>
	<li>Animated 3D scenes/painting</li>
	<li>Voice acting instead of walls of text</li>
</ul>

<h4>Inspiration taken from</h4>
<ul>
	<li>Advance Wars</li>
	<li>Fire Emblem</li>
	<li>WarCraft 3: The Frozen Throne</li>
	<li>Thief: The Dark Project</li>
	<li>Battle Brothers</li>
	<li>Battle for Wesnoth</li>
	<li>Pre-Raphaelite</li>
</ul>



<p>
	We started to work on our biggest and most ambitious project so far.
	Up until now what we made where 2D games only - most of them made for Ludum Dare.
</p>

